<div id="admin">
    <div class="container">
        <div class="big-spacer"></div>
        <div class="col-md-12 clearfix">
            <p class="admin-welcome pull-left">Manage Apartments</p>
            <button class="admin-panel btn btn-md pull-right" ng-click="addApartment()">Add a New Apartment</button>
            <div class="big-spacer"></div>
        </div>
        <div class="col-xs-12">
            <oi-select oi-options="apartment.title for apartment in apartments track by apartment._id" ng-model="apartmentSearch" multiple placeholder="Find by apartment name…"></oi-select>
            <div class="spacer"></div>
        </div>
        <div class="col-xs-12">
            <div class="admin-apartment clearfix" ng-repeat="apartment in apartments">
                <img ng-src="{{ apartment.pictureUrls[0] }}" class="pull-left">
                <div class="admin-details pull-left">
                    <h4>{{ apartment.title }}</h4>
                    <span class="num bedrooms">{{ apartment.numBedrooms }} bedrooms</span>,
                    <span class="num bathrooms">{{ apartment.numBathrooms }} bathrooms</span><br>
                    <span class="favorite-price">{{ apartment.monthlyPrice | currency }}/month</span><br>
                    <!-- TODO: make available an on/off switch -->
                    <button id="available" class="btn btn-primary btn-md" ng-show="apartment.availability === 'available'"><i class="glyphicon glyphicon-ok-circle"></i> Available now</button>
                    <button id="pending" class="btn btn-primary btn-md" ng-show="apartment.availability === 'pending'"><i class="glyphicon glyphicon-minus-sign"></i> Pending</button>
                    <button id="unavailable" class="btn btn-primary btn-md" ng-show="apartment.availability === 'unavailable'"><i class="glyphicon glyphicon-ban-circle"></i> Unavailable</button>
                </div>
                <div class="admin-actions pull-right">
                    <button class="btn pull-right" ng-click="editApartment(apartment)"><i class="glyphicon glyphicon-pencil"></i> Edit apartment</button><br>
                    <button class="btn btn-grey pull-right" ng-click="deleteApartment(apartment)"><i class="fa fa-trash"></i> Delete apartment</button>
                </div>
            </div>
        </div>
    </div>
</div>
