<div class="map-container col-xs-12">
    <div id="search-and-filter">
        <div class="container clearfix">
            <form name="searchForm" class="new-search form-inline">
                <div id="search-area" class="form-group input-group">
                    <input type="text" id="search-input" class="form-control" placeholder="Search…">
                    <div class="input-group-addon">Go</div>
                </div>
            </form>

            <form name="filterMapForm" class="filter form-inline" ng-submit="filterResults()">
                <div class="form-group">
                    <label># of bedrooms</label>
                    <select class="form-control" ng-options="bedroom as bedroom.name for bedroom in bedroomOptions track by bedroom.val" ng-model="filterCriteria.numBedrooms">
                        <option value="">--</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Rent</label>
                    <input type="text" class="form-control" ng-model="filterCriteria.monthlyPriceMin" placeholder="Min">
                </div>

                <div class="form-group">
                    <label>to</label>
                    <input type="text" class="form-control" ng-model="filterCriteria.monthlyPriceMax" placeholder="Max">
                </div>

                <div class="form-group">
                    <label>Star Rating</label>
                    <select class="form-control" ng-options="ratingOption for ratingOption in ratingOptions" ng-model="filterCriteria.averageRating">
                        <option value="">--</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Term of Lease</label>
                    <select class="form-control" ng-options="term for term in termOfLease" ng-model="filterCriteria.termOfLease">
                        <option value="">--</option>
                    </select>
                </div>

                <button type="submit" class="btn">Filter Results</button>
            </form>
        </div>
    </div>

    <div id="map-and-list-area" class="clearfix">

        <div id="map-list" ng-show="apartmentIsSelected">
            <button id="close-panel" ng-click="closeApartmentSelectPanel()">x</button>
            <div class="list-apartment">
                <div class="clearfix">
                    <h2 class="pull-left">Apartment Title <span class="availability-label label label-success">Available</span></h2>
                    <div class="monthly-rent apt-info pull-right">
                        <span class="tiny-sc">Monthly Rent</span><br>
                        <span class="big-price">$ 1,500</span>
                    </div>
                    <div class="address">
                        <span class="tiny-sc">123 Address Lane</span>
                        <br>
                        <span class="tiny-sc">New York, NY 10001</span>
                        <br>
                    </div>
                    <div class="stats">
                        <div class="apt-info">
                            <span class="tiny-sc">Bedrooms</span>
                            <br>
                            <span class="medium-stat">1</span>
                        </div>
                        <div class="apt-info">
                            <span class="tiny-sc">Bathrooms</span>
                            <br>
                            <span class="medium-stat">3</span>
                        </div>
                        <div class="apt-info">
                            <span class="tiny-sc">Square Footage</span>
                            <br>
                            <span class="medium-stat">700</span>
                        </div>
                        <div class="apt-info">
                            <span class="tiny-sc">Star Rating</span>
                            <br>
                            <span class="medium-stat">4.2</span>
                        </div>
                    </div>
                    <div class="pictures">
                        <img src="http://inhabitat.com/nyc/wp-content/blogs.dir/2/files/2011/10/tony-hilary-ft-greene-apt-1-537x359.jpg">
                    </div>
                    <div class="spacer"></div>
                    <div class="description">
                        <h5>Description</h5>
                        <p>Radian's light-filled apartments and penthouses feature dramatic views of the Boston skyline and surrounding waterways. Studio, one-, two-, and three-bedroom floor plans have been designed to enhance livability with exceptional details, including over-sized windows, sleek modern finishes, Plyboo flooring and top of the line appliances. Radian has been designed with environmentally responsible materials and systems to achieve LEED certification. With original works of art throughout amenity spaces, luxuriously designed entertainment rooms, an innovative fitness center and personalized services provided by a 24/7 concierge, Radian creates a truly cosmopolitan atmosphere tailored for contemporary living. With nearby transportation hubs, all areas of Boston are easily accessible.</p>
                    </div>
                    <div class="spacer"></div>
                    <div class="landlord">
                        <h5>Landlord Info</h5>
                        <span class="landlord-name">Mavis Beacon</span>
                        <br>
                        <span class="landlord-number">(917) 923-3955</span>
                        <br>
                        <span class="landlord-email">mbeacon@gmail.com</span>
                    </div>
                    <div class="spacer"></div>
                    <div class="reviews">
                        <h5>Reviews <span class="label label-default">3</span></h5>
                        <div class="review well">
                            <div class="clearfix">
                                <h6 class="review-title pull-left">Review Title</h6>
                                <span class="tiny-sc pull-right">Posted by Reviewer Name</span>
                            </div>
                                <p class="review-content">The uibDateParser is what the uib-datepicker uses internally to parse the dates. You can use it standalone by injecting the uibDateParser service where you need it. The public API for the dateParser is a single method called parse. Certain format codes support i18n. Check this guide for more information.</p>
                        </div>
                        <div class="review well">
                            <div class="clearfix">
                                <h6 class="review-title pull-left">Review Title</h6>
                                <span class="tiny-sc pull-right">Posted by Reviewer Name</span>
                            </div>
                                <p class="review-content">The uibDateParser is what the uib-datepicker uses internally to parse the dates. You can use it standalone by injecting the uibDateParser service where you need it. The public API for the dateParser is a single method called parse. Certain format codes support i18n. Check this guide for more information.</p>
                        </div>
                        <div class="review well">
                            <div class="clearfix">
                                <h6 class="review-title pull-left">Review Title</h6>
                                <span class="tiny-sc pull-right">Posted by Reviewer Name</span>
                            </div>
                                <p class="review-content">The uibDateParser is what the uib-datepicker uses internally to parse the dates. You can use it standalone by injecting the uibDateParser service where you need it. The public API for the dateParser is a single method called parse. Certain format codes support i18n. Check this guide for more information.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="map-canvas"></div>
        </div>

    </div>

</div>
