<form id="signup-form" name="signupForm" ng-submit="signupForm.$valid && sendSignup(signup)">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" ng-model="signup.email" class="form-control" id="email" placeholder="Enter email" required>
    </div>
    <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" ng-model="signup.firstName" class="form-control" id="name" placeholder="Enter first name">
    </div>
    <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" ng-model="signup.lastName" class="form-control" id="name" placeholder="Enter last name">
    </div>
    <div class="form-group">
        <label for="signup-password">Password</label>
        <input type="password" ng-model="signup.password" class="form-control" id="signup-password" placeholder="Enter password" ng-minlength="4" required>
    </div>
    <div class="form-group">
        <label for="signup-passwordConfirm">Confirm password</label>
        <input type="password" class="form-control" id="signup-password" placeholder="Re-enter password" required>
    </div>
    <button type="submit" class="btn btn-default" ng-disabled="signupForm.$invalid">Submit</button>
</form>
