@import '../variables';

navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    display: block;
    background: $space-dark-blue;
    box-shadow: 1px 1px 14px -3px black;
    padding-bottom: 10px;
    height: 70px;

    nav.navbar {
        margin-bottom: 0;
    }
    .container {
        width: 100%;
        max-width: 1340px;
    }
    .navbar-header {
        h2 {
            color: $ivory;
            margin-right: 30px;
            a {
                margin-top: -5px;
                font-size: 36px;
                &:hover {
                    color: $ivory;
                    text-decoration: none;
                }
            }
        }
    }
    a {
        color: $bright-robin-egg-blue;
        font-size: 16px;
    }
    ul.nav {
        margin-top: 10px;
    }
    .nav > li > a {
        cursor: pointer;
        transition: color 0.2s;
        &.active {
            color: darken($bright-robin-egg-blue, 10%);
        }
        &:hover {
            background: none;
            color: lighten($bright-robin-egg-blue, 10%);
        }
        &:focus {
            background: none;
        }
    }
    .signup-button {
        float: right;
        margin-top: 18px;
        margin-right: 5px;
        background: $ivory;
        outline: none !important;
    }
    .login-button {
        float: right;
        margin-top: 18px;
        outline: none !important;
    }
    .welcome {
        float: right;
        margin-top: 12px;
        span {
            color: black;
            font-size: 16px;
            margin-right: 5px;
        }
        a {
            color: #f30046;
            cursor: pointer;
        }
    }
}
