@import '../variables';
#map-list {
    padding-top: 64px;
    display: block;
    background: $ivory;
    z-index: 999;
    width: 33%;
    right: 0px;
    padding-left: 8px;
    padding-right: 8px;
    overflow: auto;
    position: relative;
    float: right;
    #close-panel {
        margin-top: 15px;
    }
    .list-apartment {
        z-index: 1005;
        display: block;
        width: 100%;
        background: none;
        margin-right: 20px;
        padding: 15px;
        border-radius: 5px;
        h5 {
            color: $space-dark-blue;
        }
        p {
            color: darken($light-grey, 60%);
        }
        button#close-panel {
            background-color: $medium-faded-blue;
            border: 0;
            border-radius: 5px;
            padding-bottom: 4px;
            padding-left: 10px;
            padding-right: 10px;
            color: $ivory;
            font-size: 20px;
            margin-top: 5px;
            position: relative;
            z-index: 3000000;
            .tiny-sc {
                color: $ivory;
                vertical-align: middle;
                margin-left: 10px;
            }
        }
        .action-buttons {
            margin-top: 15px;
            button {
                margin-right: 3px;
                &#available {
                    color: green;
                    background: none;
                }
                &#unavailable {
                    color: red;
                    background: none;
                }
                &#add-to-favorites {
                    &:hover {
                        color: black;
                    }
                    &:focus {
                        background-color: $bright-robin-egg-blue;
                        color: black;
                    }
                    &:visited {
                        background-color: $bright-robin-egg-blue;
                        color: black;
                    }
                }
            }
        }
        .monthly-rent {
            margin-top: 12px;
            &.apt-info {
                padding: 10px;
                border: 1px solid $light-grey;
                border-radius: 5px;
                width: 125px;
            }
        }
        span.availability-label {
            vertical-align: top;
        }
        .big-price {
            font-family: $header-font-stack;
            font-size: 24px;
            letter-spacing: 0.05;
        }
        .stats {
            padding: 10px;
            padding-left: 15px;
            padding-right: 15px;
            margin: 0;
            border-radius: 5px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            margin-top: 15px;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: $light-grey;
            .medium-stat {
                font-family: $header-font-stack;
                font-size: 18px;
            }
        }
        .pictures {
            margin-bottom: 20px;
            img {
                width: 100%;
            }
        }
        .review {
            h5 {
                span {
                    margin-left: 5px;
                    vertical-align: top;
                }
            }
            h6.review-title {
                margin-top: 0px;
                margin-bottom: 5px;
            }
            .review-stars {
                margin-bottom: 10px;
            }
        }
        .add-review-well {
            border: 0;
            background: $light-faded-yellow;
            box-shadow: none;
            label {
                color: $space-dark-blue;
                box-shadow: none;
            }
            input, textarea {
                border: 1px solid $light-faded-yellow;
                background: $ivory;
                box-shadow: none;
                &:focus {
                    box-shadow: none;
                    border: 1px solid darken($light-faded-yellow, 15%);
                    outline: none;
                }
            }
            button[disabled] {
                background: darken($light-faded-yellow, 15%);
                color: darken($light-faded-yellow, 35%);
            }
        }
    }
}
