@import '../variables';
#map-canvas {
    height: calc(100vh - 50px);
    border-bottom: 2px solid #b1a398;
    border-left: 2px solid #b1a398;
    width: 100%;
}

#search-and-filter {
    display: block;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.85);
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 1px 1px 14px -3px $space-dark-blue;
    .container {
        form.new-search {
            float: left;
            display: inline;
            border-radius: 5px;
            label {
                color: $ivory;
            }
            button {
                height: 25px;
            }
            div#search-area {
                width: 250px;
            }
        }
        width: 100%;
        max-width: 1340px;
        label {
            margin-right: 4px;
        }
        form.filter {
            display: inline;
            float: right;
            input,
            select {
                max-width: 100px;
                margin-right: 10px;
                line-height: 1;
                font-size: 12px;
                padding: 5px;
            }
        }
    }
}

@media (min-width: 768px) {
    #map-canvas {
        border-bottom: none;
        border-left: none;
    }
    .map-container {
        padding: 0;
    }
    .map-container > div {
        position: fixed;
        width: inherit;
    }
}
