@import 'variables';
* {
    box-sizing: border-box;
}

body {
    font-family: $paragraph-font-stack;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

#main {
    margin: 0 auto;
    margin-top: 70px;
}

.spacer {
    margin-top: 30px;
}

.big-spacer {
    margin-top: 60px;
}


/* Font styles */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font-stack;
}

p,
span {
    font-family: $paragraph-font-stack;
    color: $deep-brown;
}

a {
    &:visited {
        text-decoration: none;
    }
}

.tiny-sc {
    font-size: 11px;
    text-transform: uppercase;
    color: lighten(black, 15%);
    margin-bottom: -5px;
}


/* Button styles */

button {
    &.btn {
        border: 0;
        border-radius: 4px;
        background: $bright-robin-egg-blue;
        color: $space-dark-blue;
        &:hover {
            background: lighten($bright-robin-egg-blue, 10%);
        }
    }
    &#available {
        color: green;
        background: none;
    }
    &#unavailable {
        color: red;
        background: none;
    }
    &#pending {
        color: darken(gold, 10%);
        background: none;
    }
}

@import 'directives/main';
@import 'home/main';
@import 'login/main';
@import 'signup/main';
@import 'map/main';
@import 'checkout/main';
@import 'favorites/main';
@import 'orders/main';
