@import 'variables';

* {
  box-sizing: border-box;
}

body {
  font-family: $paragraph-font-stack;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  margin: 0 auto;
  margin-top:70px;
}



/* Font styles */

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-stack;
}

p, span {
    font-family: $paragraph-font-stack;
    color: $deep-brown;
}



/* Button styles */

button {
    &.btn {
        border: 0;
        border-radius: 4px;
        background: $bright-robin-egg-blue;
        color: $space-dark-blue;
    }
}

@import 'directives/main';
@import 'home/main';
@import 'login/main';
// @import 'signup/main';
@import 'map/main';
