<div id="admin">
    <div class="container">
        <div class="big-spacer"></div>
        <div class="col-xs-12">
            <h2>Users Managed</h2>
            <div class="spacer"></div>
        </div>
        <!-- User list -->
        <div class="col-xs-4" ng-repeat="user in users">
            <div class="user clearfix">
                <!-- <img ng-src="{{ user.pictureUrls[0] }}"> -->
                <div class="user-details">
                    <h4>{{ user.firstName }} {{ user.lastName }}</h4>
                    <span class="user-detail">Email: {{ user.email }}</span>
                    <br>
                </div>
                <div class="user-actions clearfix">
                    <h6>Actions</h6>
                    <ul class="list list-unstyled">
                        <li><a ng-click="makeAdmin(user)"><i class="fa fa-level-up"></i> Make Admin</a></li>
                        <li><a ng-click="deleteUser(user)"><i class="fa fa-trash"></i> Delete User</a></li>
                        <li><a ng-click="triggerPasswordReset(user)"><i class="fa fa-lock"></i> Trigger Password Reset</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End user list -->
    </div>
</div>
