<div id="admin">
    <div class="container">
        <h2>Users Managed</h2>
        <!-- User list -->
        <div class="col-xs-4">
            <div class="favorite clearfix" ng-repeat="user in users">
                <img ng-src="{{ user.pictureUrls[0] }}" class="pull-left">
                <div class="favorite-details pull-left">
                    <h4>{{ user.firstName }} {{ user.lastName }}</h4>
                    <span class="num bedrooms">Email: {{ user.email }}</span>
                    <!-- <span class="num bathrooms">{{ user.numBathrooms }} bathrooms</span><br>
                    <span class="favorite-price">{{ user.monthlyPrice | currency }}/month</span><br> -->
                    <button id="available" class="btn btn-primary btn-md" ng-show="user.availability === 'available'"><i class="glyphicon glyphicon-ok-circle"></i> Available now</button>
                </div>
                <!-- <div class="favorite-actions pull-right">
                    <button class="btn pull-right" ng-click="editApartment(user)"><i class="glyphicon glyphicon-pencil"></i> Edit apartment</button>
                </div> -->
            </div>
        </div>
        <!-- End user list -->
    </div>
</div>
